{% extends "blog/base.html" %}

{% block content %}
  <h2> What is the Good Samaritan Law? </h2>

  <p> Millions of pounds of food and groceries go to waste each year.
    To encourage companies and organizations to donate healthy food that would otherwise go to waste,
     they are protected from criminal and civil liability under the Good Samaritan Food Donation Act. </p>

     <p>On October 1, 1996, President Clinton signed this act to encourage donation of food and grocery products to non-profit organizations for distribution to individuals in need. This law: </p>
<ul>

<li>Protects you from liability when you donate to a non-profit organization;</li>

<li>Protects you from civil and criminal liability should the product donated in good faith later cause harm to the recipient;</li>

<li>Standardizes donor liability exposure. You or your legal counsel do not need to investigate liability laws in 50 states </li>

<li>Sets a floor of "gross negligence" or intentional misconduct for persons who donate grocery products. According to the new law,
gross negligence is defined as "voluntary and conscious conduct by a person with knowledge (at the time of conduct) that the conduct is likely to be harmful
to the health or well-being of another person." </li>

</ul>

</br>

<p><i>As a <strong>Good Samaritan vendor</strong>, you can upload your business's inventory that is available to donate, and a non-profit organization (consumer), can contact you about a donation pickup!</i></p>
<p><i>As a <strong>Good Samaritan consumer</strong>, you can view vendor's inventories, information, and coordinate with vendors what donations you can use for your organization!</i></p>

{% endblock content %}
