{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Good Samaritan</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href=" {% static 'portal/portalCss.css' %} ">

    <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

  </head>

  <body id="page">

    <!-- splash header -->
    <header class="masthead d-flex">

      <div class="container text-center my-auto">
        <h1 class="mb-1">Good Samaritan</h1>
        <h3 class="mb-5">
          <em>Where non-profit food pantries and restaurants meet</em>
        </h3>
        <div class="downArrow">
            <a href="#about">
              <span style="color: white;"><h1><i class="fas fa-angle-double-down"></i></h1></span>
            </a>
        </div>
      </div>
      <div class="overlay"></div>

    </header>






    <!-- input area -->
    <section class="content-section bg-dark text-light" id="about">

      <div id="welcomePage">

        <center><h5 id="intro">An application where local non-profits and restaurants meet.</h5></center>
        <br>
        <center><h5>With Good Samaritan, businesses and food pantries can easily coordinate donation management and pick-up times.</h5></center>
        <br>
        <center><h5>As a local business or restaurant, you can upload items onto our inventory management system so others can view what's available. Post your business name, phone number, and hours of operation so food pantries will be able to reach out! </h5></center>
        <br>
        <center><h5>As a non-profit organization, you can log in to the application, and view what local businesses have available for pickup! On a first-come, first-serve basis, you can reserve items for your pantry and contact the business for a good time to swing by!</h5></center>

      </div>

      <br>
      <br>
      <br>
      <br>

    <div class="signup-link">
      <div class="row">

        <div class="col">
          <center><h3>Want to join? <a class="nav-item nav-link" href="{% url 'register' %}">Register here.</a></h3></center>
        </div>

        <div class="col">
          <center> <h3>Want more info? <a class="nav-item nav-link" href="{% url 'blog-about' %}">Enter the site!</a></h3> </center>
        </div>

        <div class="col">
          <center> <h3>Members<a class="nav-item nav-link" href="{% url 'login' %}">Sign in!</a></h3> </center>
        </div>

      </div>
    </div>





    </section>
  </body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
      // Add smooth scrolling to all links
      $("a").on('click', function(event) {

        // Make sure this.hash has a value before overriding default behavior
        if (this.hash !== "") {
          // Prevent default anchor click behavior
          event.preventDefault();

          // Store hash
          var hash = this.hash;

          // Using jQuery's animate() method to add smooth page scroll
          // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
          $('html, body').animate({
            scrollTop: $(hash).offset().top
          }, 800, function(){

            // Add hash (#) to URL when done scrolling (default click behavior)
            window.location.hash = hash;
          });
        } // End if
      });
    });
    </script>

</html>
