{% extends "blog/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="content-section">

      <div class="media" id ="profileTop">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>

      <br>

      <h6>Name: <i>{{user.first_name}} {{user.last_name}} </i> </h6>
      <br>
      <h6>Is Vendor: <i> {{user.profile.vendor}}</i> </h6>
      <br>
      <h6>Phone Number: <i>{{user.profile.phone_Number}}</i> </h6>
      <br>
      <h6>Address: <i>{{user.profile.address}}, {{user.profile.city}}, {{user.profile.state}} {{user.profile.zip_Code}}</i> </h6>
      <br>
      <h6>Hours of Operation: <i>{{user.profile.hours}}</i></h6>
      <br>
      <h6>Point of Contact: <i>{{user.profile.contact}}</i></h6>



      <br>
      <br>

      <a href="{% url 'sendEmail' %}" class="btn btn-primary btn-lg" role="button" aria-disabled="true">test email</a>

      <a href="{% url 'editProfile' %}" class="btn btn-primary btn-lg" role="button" aria-disabled="true">Edit Profile</a>

      {% if user.is_authenticated %}
        {% if not user.profile.vendor %}
          <a href="{% url 'reservedIndex' %}" class="btn btn-primary btn-lg" role="button" aria-disabled="true">View Reserved Items</a>
        {% endif %}
      {% endif %}



  </div>

{% endblock content %}
