{% extends "blog/base.html" %}

{% block body %}



<center>  <div class="add_buttons">


    <div class="btn-group-vertical">
      <a href="{% url 'display_foodsC' %}" class="btn btn-outline-info" role="button"> View Food</a>
    </div>

    <div class="btn-group-vertical">
      <a href="{% url 'display_drinksC' %}" class="btn btn-outline-info" role="button">View Drinks</a>
    </div>

    <div class="btn-group-vertical">
      <a href="{% url 'display_miscObjectsC' %}" class="btn btn-outline-info" role="button"> View Misc</a>
    </div>


  </div>

  </center>

  <div>

    <h4>Currently Viewing {{ header }}</h4>
  </div>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>id</th>
        <th>Description</th>
        <th>Expiry Date</th>
        <th>Status</th>
        <th>Misc</th>
        <th>Vendor</th>

      </tr>
    </thead>

    <tbody>

      {% for item in items %}

      <tr>
        <td>{{ item.pk }}
        <td>{{ item.description }}</td>
        <td>{{ item.expiry }} </td>
        <td>{{ item.status }}</td>
        <td>{{ item.misc }}</td>
        <td>{{ item.donator }}</td>

        {% if header|lower == "drinks" %}
        <td>
            <a href="{% url 'edit_drink' item.pk %}" class="btn btn-outline-info" role="button" aria-pressed="true" > Edit</a>
        </td>
        {% elif header|lower == "foods" %}
        <td>
            <a href="{% url 'edit_food' item.pk %}" class="btn btn-outline-info" role="button" aria-pressed="true" > Edit</a>
        </td>
        {% else %}
        <td>
            <a href="{% url 'edit_miscObject' item.pk %}" class="btn btn-outline-info" role="button" aria-pressed="true" > Edit</a>
        </td>
        {% endif %}

      </tr>

      {% endfor %}

    </tbody>
  </table>

{% endblock %}
